.footer {
  margin-top: 100px;
  position: static;
  height: auto;
  padding: 2rem;
  border-radius: 40px;
  margin-bottom: 300px;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.logo {
  flex: 1;
}

.logoImage {
  width: 70px;
  height: auto;
}

.legal, .contact, .socials {
  flex: 1;
  margin-left: 0;
  font-size: 0.8rem;
}

.legalText, .socialsText, .contactText {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 2;
}

.legal ul {
  display: flex;
  gap: 15px;
}

.socialsLinks {
  list-style: none;
  padding: 0;
}

.socialsLink {
  margin-bottom: 0.5rem;
}

.contact p {
  margin: 0;
}

.socials ul {
  display: flex;
  justify-content: center;
  
}

.socials ul li {
  margin: 0;
}


.copyright {
  flex: 1;
  font-size: 0.6rem;
  margin-top: 1rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }

  .logo, .legal, .contact, .socials, .copyright {
    flex: none;
    margin-bottom: 1rem;
  }
}
