.aboutUsSection {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  padding: 4rem 2rem;
  background-color: #bed9f2;
  border-radius: 20px;
  background-size: cover;
  color: #191919;
  text-align: center;
}

.aboutUsLeft {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutPic1 {
  width: 80%;
  height: auto;
  border-radius: 40px;
  transition: opacity 1s ease-in-out;
}

.aboutPic2 {
  width: 85%;
  height: auto;
  border-radius: 40px;
}

.aboutUsRight {
  margin-left: 2rem;
  width: 50%;
  text-align: left;
}

.aboutHeader {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.aboutHeaderU {
  color: #368fe1;
}

.aboutText {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.downloadButtons {
  display: flex;
  gap: 1.5rem;
}

.downloadButton {
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.downloadButton:hover {
  transform: scale(1.1);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .aboutUsSection {
    flex-direction: column;
  }

  .aboutUsRight {
    order: 1;
    width: 100%;
  }

  .aboutUsLeft {
    order: 2;
    width: 100%;
    margin-top: 2rem;
  }

  .aboutHeader {
    font-size: 3rem;
  }

  .aboutText {
    font-size: 1rem;
  }

  .downloadButtons {
    flex-direction: column;
    gap: 0.5rem;
  }

  .downloadButtons button {
    width: 100%;
    text-align: center;
  }
}
