.appPromotionSection {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  padding: 4rem 2rem;
  border-radius: 40px;
  background-color: #0f5493;
  color: #191919;
  text-align: center;
}

.phones {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.phoneImage {
  width: 80%;
  height: auto;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.phoneImage:hover {
  transform: scale(1.05);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.comingSoon {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: white;
}

.getApp {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: white;
}

.downloadButtons {
  display: flex;
  gap: 1.5rem;
}

.downloadButton {
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.downloadButton:hover {
  transform: scale(1.1);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .appPromotionSection {
    flex-direction: column;
  }

  .phones, .content {
    width: 100%;
  }

  .comingSoon {
    font-size: 2rem;
  }

  .getApp {
    font-size: 1rem;
  }

  .downloadButtons {
    flex-direction: column;
    gap: 0.5rem;
  }

  .downloadButton {
    width: 100%;
    text-align: center;
  }
}
